<div class="container" style='position:fixed;width: 100%; height: 100%;background:rgb(142, 214, 142);
  top: 0;   left: 0;  min-width: 100%;  min-height: 100%; margin-bottom: 1%'>
  <form (submit)="onSubmit()" #pciForm1="ngForm" action="post">
    <fieldset id="group1" >
        <div class="panel-heading" style='text-align:center;'>
          <H2>Push Price Data</H2></div>
    <div class="panel panel-default grid">
       <div class="panel-heading" style='background: rgb(176, 211, 176)'>Group1</div>

        <div class="form-group panel-body" >
          <label for="dealerInput" class=" col-form-label col-lg-4">Dealer</label>

          <input type="text" id="dealerInput" name="dealer" style="width:25%"
           required [(ngModel)]="pciFormData.dealer" #dealer="ngModel" />

           <div *ngIf="dealer.invalid && (dealer.dirty || dealer.touched)" class="alert-danger"
            style="text-align:center;display:inline-block;">
            <div *ngIf="dealer.errors.required">
              <p class="label">Dealer is required.<p>
            </div>
          </div>
        </div>
    <div class="form-group panel-body">
          <label for="zoneInput" class="col-form-label col-lg-4 ">Zone *</label>
          <input type="text" id="zoneInput" name="zone" class="col-xs-8  input-sm"
          pattern=^[^\,]+((,)[^\,]+)*$
          [(ngModel)]="pciFormData.zoneID" #zone="ngModel" />

         <!--<div *ngIf="zone.invalid && (zone.dirty || zone.touched)" class="alert-danger"-->
         <div *ngIf="zone.invalid" class="alert-danger"
         style="text-align:center;display:inline-block;">
            <div *ngIf="zone.errors.pattern">
              Zone not valid.
            </div>
          </div>
      </div>
      <div class="form-group panel-body">
          <label for="yearInput" class="col-form-label col-lg-4">Year</label>

          <input id="year" name="year" class="col-xs-8 input-sm"
          maxlength="4"
          required [(ngModel)]="pciFormData.year" #year="ngModel" />

        <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert-danger"
        style="text-align:center;display:inline-block;">
          <div *ngIf="year.errors.required">
            Year is required.
          </div>
        </div>
        </div>
        <div class="form-group panel-body">
          <label for="businessIdInput" class="col-form-label col-lg-4">Business Id</label>
          <input id="businessId" name="businessId" class="col-xs-8 input-sm"
          [(ngModel)]="pciFormData.businessId" #businessId="ngModel" />
        </div>
        <div class="form-group panel-body">
          <label class="col-form-label col-lg-4">Last Requested Date</label>

          <input type="date" name="lastRequested" id="lastRequestedInput" class="input-sm"
          [(ngModel)]="pciFormData.priceDate" #lastRequested="ngModel"/>
      </div>
    </div>
    </fieldset>




    <fieldset id="group2">
        <div class="panel-heading" style='background:rgb(176, 211, 176)'>Group2</div>
        <div class="panel panel-default grid">
          <div class="form-group panel-body">
            <label class="col-form-label col-lg-4">Other Attributes</label>
        </div>
        <div class="form-group panel-body">
          <div>
                <input type="radio" style="margin-right: 100" name="attributes1"
                (click)= "pciFormData.productId =''" [(ngModel)]="pciFormData.typeChoice" value="crop">
                <label  style="width:32.5%" class="col-form-label col-lg-4">Crop *</label>
                <input type="text" name="crop" id="cropInput"
                pattern=^[^\,]+((,)[^\,]+)*$
                class="col-xs-8 input-sm"
                [required]="pciFormData.typeChoice==='crop'" [(ngModel)]="pciFormData.specieId" #crop="ngModel" />

                <div *ngIf="pciFormData.typeChoice==='crop' && crop.invalid && (crop.dirty || crop.touched)" class="alert-danger"
                style="text-align:center;display:inline-block;">
                  <div *ngIf="crop.errors.required">
                    Crop is required.
                  </div>
                  <div *ngIf="crop.errors.pattern">
                      Crop not valid.
                    </div>
                </div>
        </div>
        </div>

        <!-- </div>-->

            <div class="form-group">
              <div>
                <label class="col-form-label col-lg-4" >Hybrid/Variety </label>
              <input type="text" name="hybrid" id="hybridInput" class="input-sm"
               [(ngModel)]="pciFormData.acronymName" #hybrid="ngModel"/>

                <!--<div *ngIf="pciFormData.typeChoice==='crop' && hybrid.invalid && (hybrid.dirty || hybrid.touched)" class="alert-danger"-->
              <!--<div *ngIf="pciFormData.typeChoice==='crop'" class="alert-danger"
              style="text-align:center;display:inline-block;">
                &lt;!&ndash;<div *ngIf="hybrid.errors.required">
                  Crop 1 is required.
                </div>&ndash;&gt;

                &lt;!&ndash;<div *ngIf="hybrid.errors.pattern">
                    Hybrid not valid.
                  </div>&ndash;&gt;

              </div>-->
            </div>
             </div>

          <div class="form-group">
            <input type="radio" style="margin-right: 0%"   name="attributes1"
            (click)= "pciFormData.acronymName =''; pciFormData.specieId=''" [(ngModel)]="pciFormData.typeChoice" value="material">
            <label class="col-form-label col-lg-4" style="width:32.5%">Material Id *</label>
            <input type="text" id="materialInput" name="material" class="input-sm"
            pattern=^[^\,]+((,)[^\,]+)*$
            [required]="pciFormData.typeChoice==='material'" [(ngModel)]="pciFormData.productId" #material="ngModel"/>

            <div *ngIf="pciFormData.typeChoice==='material' && material.invalid && (material.dirty || material.touched)" class="alert-danger"
            style="text-align:center;display:inline-block;">
              <div *ngIf="material.errors.required">
                Material is required.
              </div>
              <div *ngIf="material.errors.pattern">
                  Material not valid.
                </div>
            </div>
          </div>

          <div>
            <br />
              * Multiple Values are allowed with comma separators
          </div>
        </div>
    </fieldset>
    <div align="center">
        <!-- <button mat-raised-button (click)="openDialog()" class="btn btn-default"
          [disabled]="!pciForm1.form.valid" style="margin-bottom:10px">Submit</button> -->

   <input type="submit" value="Submit" class="btn btn-default" [disabled]="!pciForm1.form.valid"
          style="margin-bottom:10px"/>
    </div>
  </form>

  <div *ngIf="pciFormData.success===false">
    Price Request has been submitted successfully
  </div>

</div>
